/assets
/build
/playground
/.idea
/glance*.yml
/config/glance.yml

# Docker volumes
/data
/volumes

# Environment variables
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo
